[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
responder = "*"
mongoengine = "*"
marshmallow = {ref = "3.0.0rc4", git = "https://github.com/marshmallow-code/marshmallow.git"}
click = "*"
requests = "*"
ipython = "*"
regex = "*"

[packages]
blinker = "*"

[requires]
python_version = "3.7"
